@import "./resets";
@import "./variables";

@function weight($weightName) {
  @return map-get($fontWeights, $weightName);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($lightTheme: true) {
  @if $lightTheme {
    background: lighten($primaryColor, 100%);
    color: darken($textColor, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background: $primaryColor;
  color: $textColor;
  //   font-weight: map-get($fontWeights, bold);
}

.main {
  width: 80%;
  margin: 0 auto;
  //This is how we use the mixin
  @include flexCenter(row); //   p {
  //     font-weight: map-get($fontWeights, bold);
  //   }
  //This is same as above. '&' means - parent
  #{&}_para {
    // font-weight: map-get($fontWeights, bold);
    //Same as above but using a function
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.light {
  @include theme($lightTheme: false);
}
