@import "./resets";
@import "./variables";

@function weight($weightName) {
  @return map-get($fontWeights, $weightName);
}

body {
  background: $primaryColor;
  color: $textColor;
  //   font-weight: map-get($fontWeights, bold);
}

.main {
  width: 80%;
  margin: 0 auto;

  //   p {
  //     font-weight: map-get($fontWeights, bold);
  //   }

  //This is same as above. '&' means - parent
  #{&}_para {
    // font-weight: map-get($fontWeights, bold);
    //Same as above but using a function
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }
}
